<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Stylesheets/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900 px-8 py-10">
      <div class="form">
        <form action="/create" method="POST">
          <input
            type="text"
            name="titles"
            placeholder="Title of the Note"
            class="bg-zinc-800 text-white font-semibold text-md py-2 px-4 rounded-md outline-none w-full block"
            required
          />
          <textarea
            name="message"
            cols="30"
            rows="10"
            class="bg-zinc-800 text-white font-semibold text-md py-2 px-4 rounded-md outline-none mt-4 w-full block resize-none"
            placeholder="Write your notes here"
            required
          ></textarea>
          <button
            type="submit"
            class="bg-blue-600 py-2 px-4 rounded-md mt-4 text-white font-semibold text-md cursor-pointer hover:bg-blue-800 transition-all duration-500"
          >
            Create Task
          </button>
        </form>
      </div>

      <div class="tasks mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
        <% if (files.length > 0) { %> 
          <% files.forEach((value) => { %>
            <div class="list-of-tasks bg-zinc-800 p-4 rounded-md w-full ">
              <h1 class="text-white font-semibold text-xl tracking-tighter">
              <%= value.titles %> 
              </h1>
             <div class="flex justify-between align-center mt-4" >
              <a href="/files/<%= value.titles %>.txt" class="text-blue-600 text-md  block">Read More...</a>
              <div class="flex gap-2  ">
                <a href="/edit/<%= value.titles %>.txt" class="text-zinc-100  px-4 py-1 text-md hover:bg-yellow-700 transition-all duration-500 rounded-md bg-yellow-500">Edit</a>
              <a href="/delete/<%= value.titles %>.txt" class="text-zinc-100  px-4 py-1 text-md hover:bg-red-700 transition-all duration-500 rounded-md bg-red-500">Delete</a>
              </div>
             </div>
              
            </div>  
          <% }) %> 
        <% } else { %>
          <h1 class="text-white font-semibold text-xl tracking-tighter">
            No tasks here...
          </h1>
        <% } %>
      </div>
    </div>
  </body>
</html>
